# deps
**/node_modules/

# env
*.env
.env

# logs
logs/
*.log
npm-debug.log*

# build artifacts
dist/
build/
coverage/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# lockfiles — разрешаем только API
/package-lock.json
/apps/web/package-lock.json
!apps/api/package-lock.json

# DB в API: игнорим всё, кроме плейсхолдеров
apps/api/data/*
!apps/api/data/.gitignore
!apps/api/data/.keep
